<div class="monthly-analytics slideable">
    <div class="inside-wrapper p-large">
        <h3>Exam Analytics</h3>
        <i class="fas fa-times close toggle-analytics"></i>
        <div class="filters p-relative" id="centers">
            <div class="bg-darklight p-medium m-b-3">
                <h4>Search By Center:</h4>
                <form id="filter-students-centers" action="">
                    <div class="form-check filter-center-students form-check-inline">
                        <input class="form-check-input" type="radio" name="center" id="default" value="default">
                        <label class="form-check-label" for="default">
                            Default
                        </label>
                    </div>
                    <% teacher.centers.forEach(c =>{ %>
                    <div class="form-check filter-center-students form-check-inline">
                        <input class="form-check-input" type="radio" name="center" id="<%= c.replace(/\s+/g, '-') %>"
                            value="<%=c%>">
                        <label class="form-check-label" for="<%= c.replace(/\s+/g, '-') %>">
                            <%= c %>
                        </label>
                    </div>
                    <% }) %>
                </form>
                <button class="btn btn-info" id="search">Search</button>
            </div>

        </div>
        <div class="analytics-content">

            <div class="questions-details">
                <h4>Overall Informations</h4>
            </div>
            <div class="report">
                <div class="questions-report">
                    <h4>Questions</h4>
                    <img src="/images/loading(3).svg" alt="" class="loading none">
                </div>
            </div>
        </div>
    </div>

</div>


<!-- <script src="/modules/jquery.scannerdetection.js"></script> -->
<!-- <script src="/modules/JsBarcode.all.min.js"></script> -->