<div id="allcomments" class="none">
    <div class="comments"></div>
    <div class="actions">
        <i id="closeComments" class='closeComments close fas fa-times'></i>
        <div class="addComment">
            <input type="hidden" name="itemId" value="">
            <input type="text" id="newCommentInput" name="comment" class="form-control" placeholder="Write comment..">
            <a class="addNewComment submit-comment btn btn-info">Add</a>
        </div>
    </div>
</div>