<div class="search_container p-relative">
  <img src="/images/loading(3).svg" class="loading none" style="height: 30px;" alt="">
  <input id="search" type="text" placeholder="ابحث عن مدرس بالرقم او الاسم" autocomplete="off">
  <ul class="drop"></ul>
</div>
