
.exam-info{
    margin: var(--s-margin) 0;
    position: relative;
    min-height: 300px;
    text-align: center;
    background: #000000e3;
    overflow: hidden;
    border-radius: var(--s-radius);
    padding: var(--s-padding)
}
.exam-info img{
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0)
}
.exam-info h2{
    text-transform: capitalize;
    font-size: 7vh;
    text-align: center;
    color: #fff;
}
.exam-questions .card-body{
    background-color: #fff;
    padding: var(--m-padding);
    margin-bottom: var(--m-margin);
    border-radius: var(--s-radius) 
}
.exam-questions li{
    padding: var(--s-padding);
    margin-bottom: var(--s-margin);

}
.exam-questions p{
    padding: var(--s-padding);
    border-radius: var(--s-radius);
    margin: 3px 0;
}
.exam-questions .selectedAnswer{
    background-color: #ccc;
}
.exam-questions .card-body .badge{
    color: #fff;
    float: right;
    padding: var(--s-padding);
    border-radius: var(--s-radius)

}
.badge-success{
    background-color: chartreuse;
}
.badge-danger{
    background-color: red
}
.exam-score p {
    font-size: 2.5em;
    background-color: rgba(44, 180, 44, 0.849);
    width: 60%;
    border-radius: var(--s-radius);
    margin: auto;
}
.exam-score p span{
    color: #fff;
    display: block;
}