<div id="followNewteacher" class="auth" style=" padding: var(--main-padding);
background-color: #f9f9f9;
width: 50%;
margin: auto;">
    <h2 style="color: rgb(50, 50, 141)">You've To Activate Your Account First,
        <br> Pay teacher fees at Fawry then send the receipt via Whatsapp message at (0201004424656) </h2>

    <h2 style="color: rgb(50, 50, 141)">
        عليك تفعيل حسابك أولا.
        <br> قم دفع رسوم المعلم في فورى ثم أرسل الإيصال عبر رسالة واتساب على (0201004424656)
    </h2>

</div>